
<h1>All Favorites</h1>

<% @favorites.favorite_pets.each do |favorite_pet| %>
<%# The way we're going to get only the pets that belong here has something to do with the section id.

Very likely we will have to implement some sort of 'if' statement in regards to the section id.  Like, go through each [what?] and find the section id, and if it's in that [what?], then you puts it in.

ALSO very likely a DIFFERENT button, purely for removing the favorite and returning to the favorite.

-------------
Get to the point where we are getting the pet id as a string, turn it into an integer, and match it against the existing pet id's.  if there is a match, then put the information below


1) take the


%>

<% binding.pry %>

    <h3><%= link_to favorite_pet.name, "/shelters/#{@shelter.id}/pets/#{favorite_pet.id}" %>  </h3>
    <h3><%= favorite_pet.image %></h3>
    <%= button_to "Remove From Favorites", "/favorites", method: :patch %>




<% end %>
