<h1>Welcome to Find a Ferocious Friend!</h1>

<u>
  <li><a href="/shelters">Shelter Index</a></li>
  <li><a href="/pets">Pets Index</a></li>
  <li><a href="/reviews">Reviews Index</a></li>
  <li><a href="/favorites">Favorites</a></li>
</u>
